<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>

<style>
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:url("https://images.unsplash.com/photo-1503376780353-7e6692767b70")
    no-repeat center center/cover;
    height:100vh;
}
.overlay{
    background:rgba(0, 0, 0, 0.616);
    height:100%;
    display:flex;
    align-items:center;
    padding-left:80px;
}

.login-box{
    color:white;
}

.login-box h1{
    font-size:45px;
    margin-bottom:20px;
}

.input-box{
    margin:15px 0;
}

.input-box input{
    width:280px;
    padding:10px;
    border-radius:20px;
    border:none;
    outline:none;
}

button{
    margin-top:15px;
    padding:10px 30px;
    border-radius:20px;
    border:2px solid white;
    background:transparent;
    color:white;
    cursor:pointer;
}

button:hover{
    background:white;
    color:black;
}

#google_translate_element{
    position:absolute;
    top:10px;
    right:20px;
}
</style>
</head>

<body>

<div id="google_translate_element"></div>

<div class="overlay">
    <div class="login-box">
        <h1>Login Here</h1>

        <div class="input-box">
            <label>Name</label><br>
            <input type="text" placeholder="Enter Name">
        </div>

        <div class="input-box">
            <label>Number</label><br>
            <input type="text" placeholder="Enter Number">
        </div>

        <div class="input-box">
            <label>Email</label><br>
            <input type="email" placeholder="Enter Email">
        </div>

        <div class="input-box">
            <label>Password</label><br>
            <input type="password" placeholder="Enter Password">
        </div>

        <button>Login</button>
    </div>
</div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement(
    {pageLanguage: 'en'},
    'google_translate_element'
  );
}
</script>

<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>

